@using SimpleMVCApp.Models;
@model List<Student> 
<h1>Displaying Student data in table</h1>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Cgpa</th>
        </tr>
    </thead>
    @foreach (var student in Model) { 
        <tr>
            <td>@student.Id</td>
            <td>@student.Name</td>
            <td>@student.Cgpa</td>
        </tr>
    }
</table>