<pro-header></pro-header>
<div class="container">
  <sw-star [rating]="3.5" (ratingClicked)="ratingClickedHandler($event)"></sw-star>
  <sw-star></sw-star>
</div>
<h1>{{currentRatingValue}}</h1>
<!-- <div>
  <sw-login></sw-login>
</div> -->
<!-- <sw-numberapi></sw-numberapi> -->
<!-- <sw-product-list></sw-product-list> -->
<!-- <app-twowaybind></app-twowaybind> -->
<!-- <app-wish></app-wish>
<pro-eventpropbind></pro-eventpropbind> -->
<!-- 

<h1>
  {{ message }}
</h1>
<ul>
  <li *ngFor="let c of customers; index as i">
    {{ i }} {{ c.firstName }} {{ c.lastName }}
  </li>
</ul>
<pro-footer></pro-footer> -->
