@using ContactDALLib.Model;
@model Contact
<div class="container">

    <h2>Display single Contact</h2>

    <h3>Contact Name:@Model.Name</h3>
    <h3>Contact Id:@Model.Id</h3>
    <h3>Contact Mobile No:@Model.MobileNumber</h3>
</div>