<h1>Index Page of Session Controller</h1>
<p>
    <h1>@Session.SessionID</h1>
    <h1>Old Value:@((int)Session["Counter"]-1)</h1>
    <h1>new Value:@Session["Counter"]</h1>
    @Html.ActionLink("Go to Summary", "Index", "Summary");
    @Html.ActionLink("Go to Application", "Index", "Application");

</p>