<h1>Summary View</h1>
<h2>Last value of Session was @Session["Counter"]</h2>
<h1>Last value of Application was:@Context.Application["Counter"]</h1>
@Html.ActionLink("Go to Session", "Index", "Session");